- @recipe.each_slice(2) do |recipes|
  .columns
    - recipes.each do |recipe|
      .column
        .card
          .card-image
            %figure.image
              %a{:href => "/#{recipe.id}"}
                = image_tag recipe.main_image if recipe.main_image.attached?
          .card-content
            %a{:href => "/#{recipe.id}"}
              %p.title.is-5= recipe.title