= form_with model: @day, url: url do |form|
  %div.field
    .select.is-fullwidth= form.collection_select :recipe_id, Recipe.order("updated_at DESC").all, :id, :title, include_blank: "Nicht geplant"

  %div.control
    %br
    %input.button.is-link.is-fullwidth{:type => "submit", :value => "Speichern"}