= form_with model: @day, url: url do |form|
  %div.field
    .select.is-fullwidth= form.collection_select :recipe_id, Recipe.all, :id, :title, prompt: "Wähle ein Rezept"

  %div.control
    %br
    %input.button.is-link.is-fullwidth{:type => "submit", :value => "Speichern"}