= form_with model: @recipe, url: url do |form|
  %div.field
    %label.label Titel
    = form.text_field :title, :placeholder => "Rezeptname", class: "input"

  %div.field
    %label.label Beschreibung
    = form.text_area :description, :placeholder => "Was gehört zum Rezept?", class: "textarea"

  %div.field
    %div.btn-file.button.is-text.is-light
      Bild hochladen..
      = form.file_field :main_image

  %div.control
    %input.button.is-link.is-fullwidth{:type => "submit", :value => "Speichern"}