%table.table.is-fullwidth.is-striped
  %thead
    %tr
  %tbody
  - @recipe.each do |recipe|
    %tr
      %td
        %a{:href => "/#{recipe.id}/"}
          = image_tag recipe.main_image.variant(resize_to_limit: [350, 350]) if recipe.main_image.attached?
      %td
        %a{:href => "/#{recipe.id}/", :class => "has-text-dark"}
          %p= recipe.title