.container
  .columns
    .column.is-10.is-offset-1
      .columns.featured-post.is-multiline
        .column.is-12.post
          %article.columns.featured
            - if @recipe.main_image.attached?
              .column.is-7.post-img
                = image_tag @recipe.main_image
              .column.is-9.featured-content.va
                %div
                  %h1.title.post-title= @recipe.title
                  %p.post-excerpt= @recipe.description
                  %br/
                  %a.button.is-primary{:href => "#"} Bearbeiten