.container
  .columns
    .column.is-10
      .columns.featured-post.is-multiline
        .column.is-12.post
          %article.columns.featured
            - if @recipe.main_image.attached?
              .column.is-7.post-img
                = image_tag @recipe.main_image
            .column.is-9.featured-content.va
              .title.is-4= @recipe.title
              %p= @recipe.description
              %br/
              %a.button.is-primary{:href => "/#{@recipe.id}/edit"} Bearbeiten