%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    = link_to image_tag("plantbased_favicon.png", size: "50x50") + " ", root_path, style: "margin-right: 1rem"
    = link_to image_tag("edit.png") + " ⠀Verwalten", recipe_index_path, class: "navbar-item level-right"
    = link_to image_tag("calendar.png") + " ⠀Wochenplan", day_index_path, class: "navbar-item"
    = link_to image_tag("calendar.png"), new_user_session_path, class: "navbar-item navbar-end"
